.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #ff9422; 
    background: #d6d6d6;
}

.containerLink{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: #ff9422;
}
.li{
    list-style: none;
}

.link{
    text-decoration: none;
    color: #ff9422;
    font-size: 1.2rem
}

.link:hover{
    color: #000;
    font-weight: bold;
    border-bottom: 3px solid ;
    font-size: 1.35rem
}