.container {
  margin-top: 50px;
  height: 300px;
}
.title {
  color: #ff9422;
  margin-bottom: 20px;
}

.counter{
    font-size: 1.5rem;
    font-weight: bold;
}

.button {
  width: 90px;
  height: 45px;
  margin-top: 20px;
  border-radius: 10px;
  color: #666;
  background: rgba(147, 147, 147, 0);
  border: 3px solid #ff9422;
}

.button:hover {
  cursor: pointer;
  color: #ff9422;
  font-size: 1.01rem;
  font-weight: bold;
}

.buttonReset {
  margin: 0 30px;
}
